---
import SimilarItems from './similar-items.astro';
import ClotheSpecs from './clothe-specs.astro';
import ActionCard from './action-card.astro';
import ImageGrid from './image-grid.astro';
import StickyAction from './sticky-action.astro';
import clothesJson from './../../assets/data.json' assert { type: 'json' };
import Layout from './../../layouts/Layout.astro';

const { id } = Astro.params;

export function getStaticPaths() {
    return clothesJson.items.map((item) => ({
        params: {
            id: item.id,
        },
    }));
}

const item = clothesJson.items.find((item) => item.id == id);
---

<script>
    const elmntToView = document.getElementById('clotheSpecs');
    const fixedTitleAction = document.getElementById('fixedTitleAction');

    function scrollToToDescription() {
        elmntToView!.scrollIntoView({ block: 'end', behavior: 'smooth' });
    }

    fixedTitleAction!.addEventListener('click', scrollToToDescription);
</script>

<Layout>
    <section
        id={id.toString()}
        class="mx-auto flex max-w-6xl scroll-mt-24 flex-col items-center gap-4 pb-32 lg:pt-8"
    >
        <ImageGrid images={item?.images || []} />
        <div
            id="fixedTitleAction"
            class="fixed bottom-0 h-auto w-full bg-default p-4"
        >
            <StickyAction
                title={item!.title}
                price={item?.price || 0}
                discount={item?.discount || 0}
                customClass="lg:hidden flex flex-row space-x-4 justify-between items-center"
            />
        </div>
        <div
            id="clotheSpecs"
            class="top grid grid-cols-1 space-y-5 lg:relative lg:grid-cols-3 lg:gap-4"
        >
            <div class="grid-rows-subgrid grid lg:col-span-2 lg:row-span-1">
                <ClotheSpecs
                    title={item!.title}
                    materials={item?.materials || []}
                    size={item?.size || ''}
                    category={item?.category || ''}
                    colors={item?.colors || []}
                    description={item?.description || ''}
                />
            </div>
            <ActionCard
                price={item?.price || 0}
                discount={item?.discount || 0}
            />
            <div
                class="grid-rows-subgrid grid pl-5 pr-5 lg:col-span-3 lg:row-span-1 lg:pl-0 lg:pr-0"
            >
                <SimilarItems id={id} />
            </div>
        </div>
    </section>
</Layout>
