---
import PriceC from '~/components/price_section.astro';

export interface Props {
    price: number;
    discount: number;
}

const { price, discount } = Astro.props;
---

<section
    id="ActionCard"
    class="hidden h-min flex-col items-center gap-4 rounded-lg border border-default bg-offset p-10 shadow-md lg:flex"
>
    <PriceC
        price={price}
        discount={discount}
        customClass="grid justify-items-center"
    />
    <button
        class="w-full rounded-full bg-accent px-4 py-2 pl-20 pr-20 font-bold text-accent hover:bg-blue-700"
        onclick="window.open('https://ig.me/m/melush_clothes', '_blank')"
        type="button"
        aria-label="Contact"
    >
        Contactar
    </button>
</section>
