---
import type { ImageUrl } from '~/types';

export interface Props {
    images: ImageUrl[];
}

const { images } = Astro.props;

const sliceImage = images == undefined ? [] : images.slice(1, 5);
---

<section id={'ImageGrid'}>
    <div class="grid grid-rows-1 lg:grid-cols-4 lg:grid-rows-2 lg:gap-4">
        <div class="grid-rows-subgrid grid lg:col-span-2 lg:row-span-2">
            {
                images && (
                    <img
                        src={images[0].url}
                        alt={`Image ${images[0].order}`}
                        class="aspect-square h-auto w-full object-cover lg:rounded-lg"
                    />
                )
            }
        </div>
        {
            sliceImage.map((image, index) => (
                <img
                    src={image.url}
                    alt={`Image ${image.order}`}
                    class="aspect-square h-auto w-full object-cover lg:rounded-lg"
                />
            ))
        }
    </div>
</section>
