---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <main class="space-y-16 pb-32 lg:px-0">
        <h2 class="bg-offset h-60 font-bold text-5xl flex items-center justify-center lg:px-0 px-8">
            Términos Legales y de Privacidad
        </h2>

        <section class="flex flex-col gap-4 px-8 lg:px-20">
            <h3 class="font-bold text-3xl">Privacidad</h3>
            <p>
                En Melush, valoramos tu privacidad y nos comprometemos a
                protegerla. Nuestra política de privacidad describe cómo
                recopilamos, guardamos y utilizamos la información que
                recopilamos a través de los diferentes servicios o páginas
                disponibles en este sitio. Es importante que entiendas qué
                información recopilamos y cómo la utilizamos, ya que el acceso a
                este sitio implica la aceptación de nuestra política de
                privacidad.
            </p>
            <a class="font-bold text-secondary" href="/legal/privacy-policy"
                >Leer politica de privacidad</a
            >
        </section>

        <section class="flex flex-col gap-4 px-8 lg:px-20">
            <h3 class="font-bold text-3xl">Términos y Condiciones</h3>
            <p>
                Nuestros términos y condiciones son claros y sencillos. Definen
                las condiciones bajo las cuales estás autorizado a usar nuestro
                sitio web y los servicios que ofrecemos.
            </p>
            <a class="font-bold text-secondary" href="/legal/terms-conditions"
                >Leer terminos y condiciones</a
            >
        </section>

        <section class="flex flex-col gap-4 px-8 lg:px-20">
            <h3 class="font-bold text-3xl">Política de Cookies</h3>
            <p>
                Utilizamos cookies para mejorar tu experiencia en nuestro sitio
                web.
            </p>
            <a class="font-bold text-secondary" href="/legal/cookies"
                >Leer politica de cookies</a
            >
        </section>
    </main>
</Layout>
