---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <section class="space-y-24 px-4 pb-32 pt-16 lg:px-0">
        <h2 class="text-center font-bold text-5xl">Términos y condiciones</h2>

        <section class="px-8 lg:px-20">
            <p>TÉRMINOS Y CONDICIONES</p><p>Melush</p><p>
                El presente documento contiene los términos y condiciones de uso
                e información legal (en adelante, los “Términos y Condiciones”)
                aplicables al acceso y uso de la página web
                https://melushstore.com (en adelante, la “Plataforma”), la misma
                que es gestionada por Melush.&nbsp;
            </p><p>
                Melush se dedica entre otras cosas, a la fabricación, distribución,
                confección, almacenamiento, compra, venta, diseño, producción,
                comercialización, importación y exportación de prendas de vestir
                y accesorios de moda (en adelante, el “Producto” o los
                “Productos”).
            </p><p>
                Toda persona que acceda a la Plataforma asume el papel de
                Usuario (de manera colectiva, los “Usuarios”), comprometiéndose
                a la observancia y cumplimiento riguroso de las disposiciones
                incluidas en los presentes Términos y Condiciones, así como
                cualquier otra disposición publicada por Melush y que fuera
                aplicable para tales efectos. En consecuencia, todos los
                contratos y transacciones que se realicen, así como sus efectos
                jurídicos, quedarán regidos por estas reglas y sometidos a la
                legislación aplicable en Perú. Asimismo, los Términos y
                Condiciones contenidos en este instrumento se aplicarán y se
                entenderán como parte integral de todos los actos y contratos
                que se ejecuten o celebren respecto a la compra de los
                Productos.&nbsp;
            </p><p>
                Melush cumple con comunicarle a los Usuarios que en caso no
                estuvieran de acuerdo con el contenido de los Términos y
                Condiciones, se abstengan de acceder y hacer uso de las
                funcionalidades de la Plataforma.
            </p><p>
                Por consiguiente, al acceder a la Plataforma, el Usuario declara
                expresamente haber leído los Términos y Condiciones y, por lo
                tanto, conocerlos y entenderlos a la perfección, aceptándolos en
                todos sus extremos.
            </p><ol style="margin-bottom:0cm;"><li>Acceso y Registro</li></ol><p
            >
                Para poder ser Usuario de la Plataforma, es indispensable que la
                persona cumpla con cada uno de los siguientes requisitos:
            </p><ol>
                <li>
                    Ser mayor de edad y tener capacidad legal para contratar (en
                    caso de ser menor de edad, contar con la autorización
                    expresa de sus representantes legales y/o quienes ejerzan la
                    patria potestad).
                </li><li>Ubicarse en la República del Perú.</li><li>
                    Haber leído y aceptado los presentes Términos y Condiciones.
                </li>
            </ol><p><br /></p><p>
                El Usuario podrá acceder a la Plataforma sin la necesidad de que
                Melush le asigne una cuenta. Sin perjuicio de ello, para
                adquirir los Productos que son comercializados a través de la
                Plataforma el Usuario deberá primero crearse una cuenta, la
                misma que será generada por Melush cuando el Usuario
                proporcione:
            </p><ol>
                <li>Nombre Completo.</li><li>Correo Electrónico.</li><li>
                    Dirección, detallando distrito, provincia y región.
                </li><li>Número de Celular.</li><li>Código Postal.</li><li>
                    DNI
                </li>
            </ol><p><br /></p><p>
                El Usuario garantiza que todos los datos proporcionados a Melush
                al momento de registrarse en la Plataforma son veraces, exactos
                y completos. Asimismo, en caso existiera un cambio en los datos
                proporcionados, el Usuario se compromete a realizar la
                correspondiente actualización. Los datos brindados por el
                Usuario serán almacenados en el banco de datos personales de
                Melush, cuyo tratamiento se dará de conformidad con las normas
                sobre la correspondiente materia.&nbsp;
            </p><p>
                En caso los Usuarios proporcionen datos falsos, inexactos o
                incompletos, o en el supuesto de que Melush considere que
                existen motivos razonables para dudar sobre la veracidad,
                exactitud e integridad de estos, este último podrá, sin previo
                aviso ni expresión de causa, denegarle sus Productos y/o el
                acceso a la Plataforma. Todos los datos proporcionados serán de
                carácter confidencial, por lo que el Usuario se compromete a no
                divulgar los datos brindados con terceras personas, sin admitir
                excepción alguna.&nbsp;
            </p><p>
                En la misma línea, Melush no puede garantizar la identidad de
                los Usuarios registrados, por lo que no será responsable por el
                uso inapropiado de la identidad de los Usuarios o de sus
                respectivas cuentas. El Usuario se obliga a comunicarle
                inmediatamente a Melush cuando ocurra algún cambio en la
                información proporcionada al momento de la creación de su
                cuenta, enviando un correo electrónico a la siguiente dirección:
                team@melushstore.com.&nbsp;
            </p><p>
                Queda claramente establecido que Melush podrá modificar sin
                previo aviso los criterios de admisibilidad a la Plataforma,
                criterios que serán siempre de conocimiento público y que se
                encontrarán publicados en la Plataforma. Asimismo, Melush podrá
                modificar cualquier otro contenido de los Términos y Condiciones
                en cualquier momento, haciendo público en la Plataforma los
                términos modificados.
            </p><ol style="margin-bottom:0cm;">
                <li>Objeto de la Plataforma</li>
            </ol><p>
                La Plataforma ha sido diseñada para facilitarle a los Usuarios
                la adquisición de los Productos, los mismos que son listados de
                manera enunciativa más no limitativa:
            </p><ul><li>Prendas de Vestir</li><li>Accesorios de Moda</li></ul><p
            >
                Los Usuarios declaran conocer y aceptan que Melush se encarga
                del diseño, la creación y la fabricación de los Productos, por
                lo que cuenta con los derechos de propiedad intelectual de los
                diseños de los Productos.&nbsp;
            </p><p>
                Para efectos de la compra de los Productos, en los acuerdos
                ofrecidos por medio de la Plataforma y/o a través de los
                presentes Términos y Condiciones, así como a través de sus
                comunicaciones y canales de comunicación oficiales, Melush
                informará, de manera inequívoca y fácilmente accesible, los
                pasos que deben seguirse para adquirirlos.&nbsp;
            </p><p>
                Las fotografías presentadas en la Plataforma son referenciales
                de cada Producto y los colores, así como las texturas, pueden
                variar. Por lo tanto, en caso el Usuario considere que el
                Producto no concuerda en apariencia física estrictamente con su
                apariencia digital publicada en la Plataforma, esta no es razón
                suficiente para exigir un cambio o devolución del Producto a
                Melush.
            </p><ol style="margin-bottom:0cm;"><li>Baja de Usuario</li></ol><p>
                El Usuario podrá darle de baja a su cuenta comunicándose con el
                correo electrónico de la siguiente dirección team@melushstore.com. Al
                confirmar la eliminación de su cuenta, el Usuario no podrá
                adquirir Productos, por lo que se extinguirá de manera
                automática cualquier vínculo u obligación que pudiera existir
                entre el Usuario y Melush, salvo aquellas que se mencionan en
                todo el numeral 17.
            </p><ol style="margin-bottom:0cm;">
                <li>Procedimiento de Compra</li>
            </ol><p>
                Conforme a lo anteriormente señalado, el Usuario debe crearse
                una cuenta en la Plataforma. Una vez el Usuario haya brindado
                los datos personales indicados y se haya creado su cuenta, el
                Usuario podrá realizar solicitudes de compra, para lo cual
                deberá agregar el Producto que desee adquirir al carrito;
                brindar detalles para la facturación así como su dirección para
                el envío y finalmente realizar el pago. Para hacer efectivo el
                descuento de un cupón, el Usuario debe registrar el código de
                cupón al momento de completar su pedido.
            </p><p>
                Una vez enviada la solicitud de compra, esta se procesará a
                través de la validación de los datos del Usuario y el método de
                pago seleccionado así como la confirmación del pago y la
                disponibilidad de Melush respecto al Producto solicitado. Una
                vez validados los elementos anteriormente señalados, Melush
                confirmará el pedido al Usuario. Por consiguiente, los Usuarios
                aceptan y declaran que bajo ningún supuesto podrán interpretar
                que la sola realización del pedido garantiza la entrega final de
                los Productos, toda vez que la confirmación de tal hecho la
                deben obtener de Melush directamente a través de un correo
                electrónico confirmando el pedido y enviando el comprobante
                electrónico de venta donde se detallen los Productos comprados y
                el monto pagado.&nbsp;
            </p><p>
                En ese sentido, toda aceptación de oferta quedará sujeta a la
                condición suspensiva de que Melush valide la transacción. En
                consecuencia, para toda operación que efectúen los Usuarios en
                la Plataformas, la confirmación y/o validación por parte de
                Melush será requisito esencial para la formación del
                consentimiento.
            </p><p>
                Melush se reserva el derecho a rechazar una solicitud de compra
                o cambiar el estado del pedido en cualquier momento, incluso
                luego de que esta sea procesada, cuando ocurra un hecho fortuito
                o de fuerza mayor, que no sea responsabilidad de Melush; cuando
                se evidencie algún fraude en contra o por parte del titular de
                la compra; cuando se haya agotado el Producto; o en caso se
                produzca un error sistémico que distorsione el precio de los
                Productos.
            </p><p>
                Además de lo señalado, como medida de seguridad, Melush podrá
                dejar sin efecto las compras en las que los datos entregados por
                el Usuario no coincidan con las bases de datos disponibles de
                Melush, o respecto de las cuales no se hubiere efectuado la
                validación señalada precedentemente dentro de las setenta y dos
                (72) horas siguientes a la orden o pedido de compra registrado.
                Por el mismo motivo, si fuese necesario contactar al titular de
                una cuenta y pasadas las setenta y dos (72) horas siguientes a
                la orden o pedido de compra esto no fuese posible, Melush dejará
                sin efecto dicha transacción.
            </p><p>
                Ahora bien, Melush podrá modificar cualquier información
                contenida en la Plataforma, incluyendo las relacionadas con
                mercadería, precios y existencias de los Productos, en cualquier
                momento y sin previo aviso, hasta el momento de recibir una
                solicitud de compra y esta sea confirmada.
            </p><p>
                Por último, los Usuarios aceptan y declaran conocer que las
                promociones que se ofrezcan a través de la Plataforma o en
                cualquier red social y que le sean aplicables son de duración
                definida, su vigencia estará sujeta a las limitaciones que se
                indiquen expresamente en la Plataforma y en cada promoción en
                particular. No son acumulables las distintas promociones que
                Melush pudiese ofrecer. El descuento no es aplicable al costo
                del transporte de envío que siempre corre a cargo del Usuario,
                salvo que la promoción indique el beneficio de incluir el costo
                de envío. En caso de cambios, devoluciones o anulación de un
                pedido en el que se haya aplicado un cupón este no será
                restaurado.
            </p><ol style="margin-bottom:0cm;">
                <li>Métodos de Pago&nbsp;</li>
            </ol><p>
                Los Usuarios declaran conocer y aceptan que la compra de los
                Productos podrá realizarse, salvo que se señale una forma
                diferente en casos particulares u ofertas de determinados
                Productos, mediante:
            </p><ul style="margin-bottom:0cm;">
                <li>
                    Pagos con tarjeta de crédito o débito: La opción de pago con
                    tarjetas de crédito o débito, está habilitada para tarjetas
                    tipo VISA, Mastercard, Diners o American Express. Asimismo,
                    los pagos con tarjeta de crédito o débito están sujetas a la
                    aprobación del banco emisor de la tarjeta y a las
                    validaciones internas de las pasarelas de pago encargadas de
                    procesar la transacción. En los casos donde el pago no es
                    aprobado o es rechazado, la orden de compra asociada será
                    cancelada de manera automática.
                </li>
            </ul><ul>
                <li>
                    Pagos a través de empresas de recaudo: Es un medio de pago
                    donde el Usuario hace la reserva de su contratación y se le
                    genera un código de pago, con el cual deberá acercarse a
                    cualquier establecimiento o agencias afiliadas a la empresa
                    de recaudo elegida por el cliente al momento de generar su
                    contratación. El pago debe realizarse dentro del plazo que
                    se establezca al momento de realizar la contratación, caso
                    contrario la orden se cancelará por falta de pago. Una vez
                    realizado el pago, la validación del mismo se realiza dentro
                    de las veinticuatro (24) horas hábiles. Las empresas de
                    recaudo que actualmente se encuentran habilitadas como
                    medios de pago en la Plataforma son Mercado Pago, Niubiz,
                    Paypal y otras billeteras.
                </li>
            </ul><p>
                El uso de las tarjetas de débito o crédito se sujetará a lo
                establecido en estos Términos y Condiciones y, en relación con
                su emisor, a lo pactado en los respectivos Contratos de Apertura
                y Reglamento de Uso. En caso de contradicción, predominará lo
                expresado en ese último instrumento. En ese sentido, cuando el
                Usuario ingrese los números de la tarjeta y los códigos de
                seguridad se tendrá por verificada su identidad, siendo
                responsabilidad exclusiva de los Usuarios salvaguardar dichos
                datos.
            </p><p>
                Los Usuarios aceptan y declaran conocer que en caso los plazos
                antes señalados se vean alterados por un hecho que esté fuera de
                la esfera de control de Melush, por ejemplo, un evento
                procedente de alguna pasarela de pago o entidad bancaria, Melush
                no será responsable por tales demoras y no se considerará un
                incumplimiento a la presente sección.
            </p><p>
                Asimismo, los Usuarios aceptan y declaran conocer que los
                precios de los Productos publicados en la Plataforma están
                expresados en la moneda nacional, el Sol (S/) y se encuentran
                vigentes únicamente mientras aparezcan en ella, y solo son
                aplicables para la Plataforma, no son aplicables a transacciones
                efectuadas en otros canales de venta de Melush, así como los
                precios exhibidos en otros canales de venta de Melush no
                necesariamente tienen aplicación en las transacciones efectuadas
                en la Plataforma.
            </p><ol style="margin-bottom:0cm;">
                <li>Entrega de Productos</li>
            </ol><p>
                El lugar de entrega de los Productos será el indicado por el
                Usuario consignándolo en el pedido. El costo del transporte
                (flete) para el envío del Producto comprado siempre será asumido
                por el Usuario y este dependerá del destino especificado durante
                el registro del pedido. Sin embargo, para fines promocionales, a
                su criterio, Melush se reserva el derecho de asumir el flete
                bajo ciertas condiciones las cuales serán comunicadas
                oportunamente al Usuario. El flete depende del lugar de destino.
            </p><p>
                Para el envío del producto, los plazos de entrega son de 1 a 3
                días hábiles para Lima Metropolitana y hasta 7 días hábiles para
                provincias; sin embargo, los plazos de entrega pueden ser
                afectados por razones ajenas a Melush que supongan caso fortuito
                o de fuerza mayor, tales como la intransitabilidad de
                carreteras, manifestaciones públicas, huelgas, eventos de la
                naturaleza, entre otros, por los que Melush no se hace
                responsable.
            </p><p>
                El Usuario solo podrá solicitar el cambio de dirección, sea
                porque el Usuario brindó una incorrecta o porque desee cambiar
                el lugar de envío, siempre que sea antes que Melush despache el
                pedido al destino especificado por el Usuario. Esta solicitud
                requiere coordinación inmediata con Melush mediante el chat de
                la Plataforma. Todo cambio de dirección está sujeto a costos
                adicionales que asumirá el Usuario, así como también podrá
                significar nuevos plazos de entrega.&nbsp;
            </p><p>
                El transportista únicamente es responsable por la entrega
                oportuna, en condiciones seguras del paquete que contiene el
                Producto adquirido por el Usuario, en el horario entre 8am y
                6pm. La entrega sólo se realizará en la dirección especificada
                por el Usuario. En cualquier caso, el transportista no recibirá
                devoluciones del Usuario, únicamente entregará el paquete al
                Usuario o persona adulta que se encuentre en la dirección
                indicada, que deberá ser un mayor de edad debidamente
                identificado.
            </p><p>
                Para la entrega de los Productos adquiridos, el transportista
                realizará una (1) visita a la dirección indicada por el Usuario.
                Si en la visita el Usuario estuviera ausente o no se encontrara
                una persona mayor de edad a quien entregar el paquete, el pedido
                retornará a las instalaciones de Melush, por lo que el Usuario
                deberá solicitar nuevamente el envío debiendo asumir el flete
                por el envío fallido y el flete del nuevo envío.&nbsp;
            </p><p>
                El transportista contratado por Melush cuenta con una cobertura
                de despachos delimitada. Esto será informado al Usuario,
                mediante el despliegue de opciones disponibles para ingresar la
                dirección de entrega en el momento de registrar su pedido de
                compra.
            </p><p>
                En caso de que la dirección indicada por el Usuario para
                entregar el pedido no pudiera ser atendida por el transportista,
                Melush cursará una comunicación al Usuario para gestionar un
                cambio de dirección y poder entregar el Producto adquirido. Los
                costos adicionales serán asumidos por el Usuario.
            </p><p>
                Finalmente, los Usuarios aceptan y declaran conocer que la
                información del lugar de envío es de exclusiva responsabilidad
                del Usuario, además de que los plazos para el despacho y entrega
                del Producto se cuentan desde que Melushvalida la orden o pedido
                de compra y el medio de pago utilizado.
            </p><ol style="margin-bottom:0cm;">
                <li>Cambios y Devoluciones</li>
            </ol><p>
                Melush declara que todos sus Productos son examinardos en un
                procedimiento complejo de control de calidad. Melush ofrece a
                sus Usuarios la posibilidad de realizar el cambio de los
                Productos comprados en la Plataforma debiendo realizar la
                solicitud dentro de los dos (2) días hábiles posteriores a la
                fecha de recepción del Producto. Las solicitudes de cambio o
                devolución pueden coordinarse mediante correo a team@melushstore.com 
                debiendo presentar el comprobante de pago respectivo.
            </p><p>
                Todo cambio o devolución queda sujeto a evaluación por parte de
                Melush. El resultado de esta evaluación será comunicado
                oportunamente al Usuario. El cambio de un Producto por otro
                idéntico está sujeto a la disponibilidad del Producto.&nbsp;
            </p><p>
                Para el caso de las zonas a las que no llega el transportista,
                el Producto debe ser enviado por el Usuario a la oficina de Olva
                de Surco, debiendo coordinarse por el chat de la Plataforma. Una
                vez que Melush recibe el producto, posterior a la aprobación de
                solicitud de cambio, se procederá con el envío del nuevo
                Producto y el Usuario asumirá nuevamente el flete según la
                tarifa correspondiente.
            </p><p>
                En el caso de las devoluciones, estas serán admitidas solo por
                Productos con fallas de fábrica, en cuyo caso Melush asume el
                flete, siempre que esta circunstancia la comunique dentro de las
                24 (veinticuatro) horas siguientes desde su recepción. Para
                ejercer el derecho de cambio o devolución se debe cumplir con
                las siguientes condiciones generales:
            </p><ul>
                <li>
                    La información proporcionada para la solicitud de cambio o
                    devolución deberá ser verdadera y oportunamente realizada en
                    vía correo electrónico dirigido a team@melushstore.com donde
                    enviará fotos del Producto.
                </li><li>
                    El Producto no debe mostrar señales de uso.&nbsp;
                </li><li>
                    El Producto debe encontrarse en buenas condiciones.&nbsp;
                </li><li>
                    El Usuario debe adjuntar al correo el comprobante de
                    pago.&nbsp;
                </li><li>
                    El Producto debe encontrarse en su empaque original y contar
                    con todos las etiquetas originales y los dispositivos de
                    seguridad.&nbsp;
                </li><li>Deberá haber sido comprado por la Plataforma.</li><li>
                    En el caso de Productos adquiridos como parte de una
                    promoción, se requiere la entrega de todos los Productos
                    incluidos en dicha promoción.&nbsp;
                </li>
            </ul><p>
                Por lo señalado, no se aceptará la devolución de Productos en
                los siguientes casos:&nbsp;
            </p><ul>
                <li>
                    Cuando el Producto se encuentre dañado o deteriorado, y no
                    se trate de una falla de fábrica.&nbsp;
                </li><li>Cuando el Producto se encuentre sucio.&nbsp;</li><li>
                    Cuando el Producto se encuentra desgastado por el
                    Usuario.&nbsp;
                </li><li>
                    Cuando el Producto se encuentra con manchas de grasa, lápiz
                    labial, maquillaje, lapicero, tinta o cualquier otro tipo de
                    mancha.&nbsp;
                </li><li>
                    Cuando el Producto cuente con indicios de haber estado en
                    contacto con sustancias como alcohol, bencina, thinner,
                    perfume, acetona, algún tipo de material que
                    deteriore.&nbsp;
                </li><li>
                    Cuando el Producto cuente con raspaduras, restos de
                    pegamento, calcomanías o stickers.&nbsp;
                </li>
            </ul><p>
                Ante una solicitud de cambio o devolución, Melush verificará la
                condición del Producto recibido y el tiempo transcurrido desde
                la fecha de compra. Luego de la evaluación, en caso se trate de
                una falla de fábrica, se iniciará el proceso de cambio o
                devolución, según corresponda. En cualquier otro caso, no
                procederá el cambio o devolución.&nbsp;
            </p><p>
                En los casos de devolución, se solicitará cuenta bancaria o
                número de yape/plin para efectuar la devolución del dinero en el
                siguiente día hábil después de la verificación. Se deducirá los
                montos de comisión que apliquen los operadores de las pasarelas
                de pago más los montos de penalidad que Melush decida aplicar, en
                caso sea pertinente. Asimismo, los montos pagados por el envío
                del Producto no son sujetos a reembolso.&nbsp;
            </p><ol style="margin-bottom:0cm;">
                <li>Comprobantes de Pago</li>
            </ol><p>
                Según el Reglamento de Comprobantes de Pago aprobado por
                Resolución de Superintendencia Nº 007-99 / SUNAT (RCP) y el
                Texto Único Ordenado de la Ley del Impuesto General a las Ventas
                e Impuesto Selectivo al Consumo, aprobado mediante Decreto
                Supremo Nro 055-99-EF y normas modificatorias (TUO del IGV), se
                concluye:
            </p><p>
                “No existe ningún procedimiento vigente que permita el canje de
                boletas de venta por facturas, más aún las notas de crédito no
                se encuentran previstas para modificar al adquirente o usuario
                que figura en el comprobante de pago original”.
            </p><p>
                Por lo cual el Usuario deberá elegir correctamente el documento
                que solicitará como comprobante en el momento de su compra, ya
                que, según los párrafos citados, luego no procederá cambio
                alguno.&nbsp;
            </p><p>
                Las facturas electrónicas, las boletas de venta electrónicas y
                las notas electrónicas vinculadas con estos comprobantes
                electrónicos se enviarán al correo electrónico designado por el
                Usuario, así como también los datos necesarios para que este
                pueda consultar el comprobante electrónico y tenga la
                posibilidad de descargarlo, de acuerdo con el Artículo 15º de la
                Resolución de Superintendencia Nro. 097-2012/SUNAT, con la cual
                se creó el Sistema de Emisión Electrónica desarrollado desde los
                sistemas del contribuyente.
            </p><ol style="margin-bottom:0cm;">
                <li>Obligaciones de los Usuarios</li>
            </ol><p>
                Melush no permitirá que ningún Usuario o tercero, en ninguna
                circunstancia, publique, envíe, distribuya o facilite cualquier
                contenido que viole los derechos de cualquier persona o entidad,
                ni información o contenido que sea ilegal, amenazante, abusivo,
                acosador, difamatorio, engañoso, fraudulento, obsceno, vulgar,
                pornográfico o que promueva la violencia física o verbal, el
                abuso animal, o cualquier otro contenido inapropiado bajo
                criterio exclusivo de Melush. Los Usuarios deberán notificar de
                forma inmediata cualquier violación de seguridad, uso no
                autorizado o uso inapropiado de la cuenta de la cual son
                titulares enviando un correo electrónico a la siguiente
                dirección: <a href="mailto:team@melushstore.com">team@melushstore.com</a>.
            </p><p>
                Los Usuarios se obligan a: (i) no interferir con el correcto
                funcionamiento de la Plataforma; (ii) no burlar las medidas de
                seguridad que protegen el acceso a la Plataforma; (iii) no
                ejecutar cualquier forma de “Spam”; (iv) no descifrar,
                descompilar, acceder al código fuente, reproducir, realizar
                ingeniería inversa o intentar derivar el código fuente o
                algoritmos de la Plataforma o de cualquier software de propiedad
                de Melush; y (v) no incurrir en ninguno de los supuestos
                descritos en el párrafo anterior.
            </p><p>
                Melush tendrá la potestad de tomar las mejores medidas
                preventivas contra mecanismos que conlleven al fraude de la
                Plataforma o afecten la seguridad informática de la misma.&nbsp;
            </p><ol style="margin-bottom:0cm;">
                <li>Propiedad Intelectual</li>
            </ol><p>
                Todos los derechos de propiedad intelectual y/o industrial de la
                Plataforma y los signos distintivos de Melush (textos, imágenes,
                diseños, software, código fuente, fragmentos de audio, programas
                informáticos, descargas digitales, bases de datos, nombres
                comerciales, marcas, logotipos y/o cualquier otro signo
                distintivo) que formen o hayan formado parte de la Plataforma en
                algún momento, así como los diseños de los Productos, están
                protegidos por Ley y pertenecen exclusivamente a Melush.
            </p><p>
                Melush es el único titular del software de la Plataforma y de
                cualquier otro material al que tengan acceso los Usuarios.
                Asimismo, es el único titular de los diseños de sus Productos.
                Queda prohibida la reproducción total o parcial del software y
                de sus diseños, incluso para uso personal, por cualquier medio y
                bajo cualquier forma.
            </p><p>
                En ningún caso se entenderá que el acceso y uso de la Plataforma
                implica una renuncia, transmisión, licencia o cesión, total o
                parcial, ni autorización de ninguna clase para la explotación,
                reproducción, comunicación pública, difusión, divulgación y/o
                transformación de la Plataforma, de sus contenidos, de los
                signos distintivos, ni de los diseños de Melush.
            </p><ol style="margin-bottom:0cm;"><li>Responsabilidad</li></ol><p>
                Melush no se hace responsable por que los Productos no hayan
                cumplido con las expectativas, percepciones o deseos subjetivos
                del Usuario, siempre que el Producto coincida objetivamente con
                los detalles, alcances y especificaciones señaladas en la
                Plataforma.
            </p><p>
                Melush hará lo posible dentro de sus capacidades para que la
                transmisión y uso de la Plataforma sea ininterrumpida y libre de
                errores. Sin embargo, dada la naturaleza de la Internet, dichas
                condiciones no pueden ser garantizadas. Por este motivo, es
                responsabilidad de los Usuarios que tomen las medidas de
                protección necesarias para su ordenador, de manera que las
                posibles amenazas y/o daños al sistema operativo producidos por
                virus u otro elemento propio del uso de internet puedan ser
                previstas y evitadas.&nbsp;
            </p><p>
                Tanto el acceso a esta Plataforma como el uso que pueda hacerse
                de la información contenida en la mismo es de la exclusiva
                responsabilidad de quien lo realiza. Melush no se hace
                responsable de los posibles errores de seguridad que se puedan
                producir ni de los posibles daños que puedan causarse al sistema
                informático del usuario (hardware y software), los archivos o
                documentos almacenados en el mismo, como consecuencia de la
                presencia de virus en el ordenador del Usuario utilizado para la
                conexión a los Productos y contenidos de la Plataforma, de un
                mal funcionamiento del navegador o del uso de versiones no
                actualizadas del mismo. De conformidad con el Artículo 1328º del
                Código Civil peruano, la limitación de responsabilidad no es
                aplicable en caso de dolo, culpa inexcusable o negligencia
                grave.
            </p><p>
                Finalmente, el Usuario reconoce que Melush no tiene control, no
                es responsable y no está obligado a tomar ninguna medida sobre:
            </p><ol>
                <li>La capacidad económica del Usuario.</li><li>
                    Cualquier evento, hecho o acción bajo la esfera de control
                    de los Usuarios.
                </li><li>
                    Cualquier evento, hecho o acción bajo la esfera de control
                    de las empresas de reparto.
                </li>
            </ol><ol style="margin-bottom:0cm;">
                <li>Privacidad, Seguridad y Datos Personales</li>
            </ol><p>
                Cuando Melush precise obtener información por parte del Usuario
                durante el registro en la Plataforma, solicitará que esta sea
                proporcionada de manera consensual, voluntaria y en forma
                expresa. Cabe señalar que, a través de su cuenta, el Usuario
                puede acceder en cualquier momento a su información personal
                para editarla y actualizarla.
            </p><p>
                Melush declara que tratará los datos personales proporcionados
                por el Usuario (tales como correo electrónico, número de
                celular, entre otros señalados previamente) de forma
                confidencial y exclusivamente con las siguientes finalidades:
            </p><ul>
                <li>
                    Para realizar mailing y enviar publicidad respecto a los
                    Productos de Melush, así como sobre lanzamientos, novedades,
                    promociones, descuentos, anuncios, encuestas, contenido de
                    tendencias y solución de problemas.
                </li><li>
                    Para comunicarnos y brindar atención al Usuario.
                </li><li>
                    Para realizar seguimiento de los avances de cada Usuario.
                </li><li>
                    Para perfilar a los Usuarios para ofrecer un mejor servicio.
                </li><li>
                    Para enviar el comprobante de pago correspondiente.
                </li><li>
                    Para garantizar la adquisición de los Productos por parte
                    del Usuario.
                </li>
            </ul><p>
                El cumplimiento de las finalidades previstas se logrará con
                todas las garantías legales y de seguridad que impone la la Ley
                Nro. 29733, Ley de Protección de Datos Personales, y su
                Reglamento. Así, Melush se compromete a no ceder, vender,
                transferir ni compartir los datos a terceros sin el
                consentimiento previo, expreso y por escrito del Usuario. Melush
                no asume ninguna responsabilidad por los daños y perjuicios
                derivados de alteraciones que terceros puedan causar en la
                Plataforma.
            </p><p>
                En esa línea, de conformidad con el artículo 16º de la Ley de
                Protección de Datos Personales, los datos personales brindados
                por los Usuarios serán almacenados en el banco de datos
                personales denominado “Clientes” o “Potenciales Clientes” de
                titularidad de Melush para las finalidades previstas. El
                tratamiento del banco de datos personales contará con las
                medidas técnicas, organizativas y legales que garanticen su
                seguridad y eviten su alteración, pérdida o acceso no autorizado
                por los Usuarios.&nbsp;
            </p><p>
                Melush podrá divulgar información personal en caso se le
                requiera por orden judicial, así como tampoco no podrá
                transferir los datos personales. Asimismo, Melush se reserva el
                derecho a informar acerca de cualquier actividad que de buena fe
                y, según su exclusivo criterio, considere que es ilegal.
            </p><p>
                En caso el Usuario desee ejercer los derechos contemplados en la
                Ley de Protección de Datos Personales y su Reglamento, deberá
                enviar un correo a la siguiente dirección: team@melushstore.com.
            </p><ol style="margin-bottom:0cm;"><li>Información</li></ol><p>
                Los Usuarios declaran conocer y aceptan que Melush podrá
                utilizar cookies para realizar un seguimiento de actividades en
                la Plataforma y datos de navegación como dirección IP, dirección
                del servidor, nombre de dominio, etc.&nbsp;
            </p><p>
                Melush podrá desarrollar estudios internos sobre los intereses,
                comportamientos y demografía de los Usuarios para comprender
                mejor sus necesidades, ofrecer mejores servicios y proveer
                información más detallada.
            </p><p>
                Melush podrá analizar el tráfico o realizar evaluaciones de tipo
                comercial para probar distintos aspectos de la Plataforma.
            </p><ol style="margin-bottom:0cm;">
                <li>Enlaces de Terceros</li>
            </ol><p>
                La Plataforma podría permitir la vinculación a otros sitios web,
                servicios o recursos de Internet.El acceso a los recursos de
                terceros en Internet se realizará bajo responsabilidad de los
                Usuarios, quienes reconocen que dichos recursos no están bajo el
                control de Melush y este no es responsable por el contenido,
                funciones, legalidad o cualquier otro aspecto de relacionado con
                ellos.
            </p><ol style="margin-bottom:0cm;">
                <li>Integridad de los Términos y Condiciones</li>
            </ol><p>
                Los presentes Términos y Condiciones sustituyen todas las
                comunicaciones, propuestas y/o acuerdos anteriores o
                contemporáneos (orales, escritos o electrónicos) entre los
                Usuarios y Melush. Si alguna disposición de estos Términos y
                Condiciones resultara inválida, la invalidez se aplicará en la
                medida mínima necesaria para que las demás estipulaciones
                continúen siendo ejecutables. Si Melush o el Usuario no
                ejerciesen sus derechos y facultades establecidas en los
                Términos y Condiciones, no se considerará como una renuncia a la
                continuación de los demás derechos y facultades aquí
                establecidas.
            </p><ol style="margin-bottom:0cm;"><li>Cesión</li></ol><p>
                Los Términos y Condiciones son personales para el Usuario y en
                ningún caso puede ceder sus derechos y obligaciones provenientes
                de ellos ni transferirlos a terceros sin contar con el
                consentimiento previo y por escrito de Melush.
            </p><p>
                Melush podrá ceder, transferir o delegar cualquiera de sus
                derechos y obligaciones sin consentimiento previo del Usuario,
                para lo cual los Usuarios aceptan y autorizan anticipadamente
                una eventual cesión de posición contractual de Melush a favor de
                cualquier tercero.&nbsp;
            </p><ol style="margin-bottom:0cm;"><li>Supervivencia</li></ol><p>
                En caso de eliminación de la cuenta del Usuario, resolución por
                cualquier causa o denegación de ingreso a la Plataforma, los
                Términos y Condiciones referentes a Propiedad Intelectual,
                Responsabilidad, Integridad de los Términos y Condiciones, Ley
                Aplicable y Jurisdicción, sobrevivirán por un plazo de cinco (5)
                años contados a partir del último ingreso a la Plataforma.&nbsp;
            </p><ol style="margin-bottom:0cm;">
                <li>Ley Aplicable y Jurisdicción</li>
            </ol><p>
                Los presentes Términos y Condiciones se regirán bajo las Leyes
                aplicables en la República del Perú. Cualquier controversia
                derivada de los Términos y Condiciones, su existencia, validez,
                interpretación, alcance o cumplimiento será sometida a la
                jurisdicción de los tribunales y los jueces del Cercado de Lima.
            </p><ol style="margin-bottom:0cm;"><li>Contacto</li></ol><p>
                Cualquier duda, consulta o comentario sobre la Plataforma, los
                Productos y/o los Términos y Condiciones, deberá comunicarse con
                Melush a la siguiente dirección: team@melushstore.com.
            </p>
        </section>
    </section>
</Layout>
