---
import '@fontsource-variable/inter';

import Layout from '../layouts/Layout.astro';
import Catalogue from '~/components/catalogue.astro';
import Contact from '~/components/contact.astro';
import Splash from '~/components/splash.astro';
---

<Layout>
  <!--
      //Todo add when there is a new clothing collection or a seasonal event
    <Splash />
     -->
  <main class="space-y-24 px-8 py-32">
    <Catalogue />
    <Contact />
  </main>
</Layout>
