---
export interface Props {
    colors: Array<String>;
}

const { colors } = Astro.props;
---

{
    colors.length > 1 ? (
        <ul>
            {colors.map((item) => (
                <li
                    class="mr-2 inline-block h-7 w-7 rounded-full border-2 border-accent"
                    style={{ 'background-color': item.toString() }}
                />
            ))}
        </ul>
    ) : (
        <div class="invisible">
            <ul>
                <li
                    class="mr-2 inline-block h-7 w-7 rounded-full border-2 border-accent"
                    style={{ 'background-color': '#ffffff' }}
                />
            </ul>
        </div>
    )
}
