---
import { Icon } from 'astro-icon/components';

export interface Props {
  id: string;
  // optional
  title?: string;
  position?: 'start' | 'end';
}

const { title, id, position } = Astro.props;

const positionClass =
  position === undefined ? 'items-center' : `items-${position}`;
---

<section
  id={id}
  class={`flex scroll-mt-24 flex-col gap-4 space-y-8 ${positionClass}`}
>
  {
    (title && (
      <header class="flex flex-col items-center gap-4">
        <slot name="eyebrow" />
        <h2 class="text text-center font-extrabold tracking-tight text-6xl">
          {title}
        </h2>
      </header>
    )) || <Icon class="h-8 w-full sm:h-16" name={'MELUSH'} />
  }
  <p class="max-w-xl text-center font-extrabold text-2xl">
    <slot name="lead" />
  </p>
  <slot />
</section>
