---
import SocialMedia from '~/components/social-media.astro';
import type { ContactItem } from '~/types';

const contactPlatforms: Array<ContactItem> = [
  {
    title: 'tiktok',
    icon: 'frameworks/tiktok',
    url: 'https://www.tiktok.com/@melush.31',
  },
  {
    title: 'instagram',
    icon: 'mdi:instagram',
    url: 'https://www.instagram.com/melush_clothes/',
  },
  {
    title: 'facebook',
    icon: 'mdi:facebook',
    url: 'https://www.facebook.com/profile.php?id=100094661941047',
  },
];
---

<footer
  class="relative flex lg:h-80 h-120 flex-col items-center justify-center gap-8 bg-offset px-8 py-8"
>
  <section>
    <h2 class="mb-4 text-center font-bold text-2xl">
      Síguenos en nuestras redes
    </h2>
    <SocialMedia items={contactPlatforms} />
  </section>
  <section class="flex gap-8">
    <span class="font-bold text-sm">Melush © 2024</span>
    <a href="/legal" class="mb-4 text-start font-bold text-sm">Privacidad y Legal</a>
    <a href="/contact" class="mb-4 text-start font-bold text-sm">Contacto</a>
  </section>
</footer>
