---
import { Icon } from 'astro-icon/components';
import type { ContactItem } from '~/types';

export interface Props {
    items: Array<ContactItem>;
}

const { items } = Astro.props;
---

<article>
    <ul class="flex justify-center space-x-8 px-6 pb-4 pt-8">
        {
            items.map((item) => (
                <li>
                    <a
                        class="flex-col items-center gap-2"
                        target="_blank"
                        href={item.url}
                    >
                        <Icon class="h-8 w-full" name={item.icon} />
                        <span class="pt-3 font-mono text-xl">{item.title}</span>
                    </a>
                </li>
            ))
        }
    </ul>
</article>
